<div ng-controller='welcomeCtrl' class='container'>
	<div layout='row'>
		<div class='background' flex='100'>
			<div class='title'>
				<h1>Welcome to TickerTracker</h1>
				{{ message }}
			</div>
		</div>
	</div>
</div>