<div ng-controller='stocksCtrl'>
	My Stocks
	{{ message }}
	<ul>
		<li ng-repeat='stock in stocks'>
			{{ stock.id }}<strong>{{ stock.sybmol }}</strong> {{ stock.name }}
			<a href="" ng-click='deleteStock(stock.id, $index)'>DELETE</a>
		</li>
	</ul>
</div>