<div ng-controller='stocksCtrl'>
	<form ng-submit='createStock()'>

		<select ui-select2='companyList' ng-model='newCompany', data-placeholder='Search NASDAQ', ng-required='true' style='width: 200px;'>
			<!-- <option value=''></option> -->
			<option ng-repeat='company in companyList' ng-model='company.name'></option>
		</select>
		{{ newCompany }}

		<input ui-select2='select2Options' ng-model='newCompany' ng-change='addCompany(newCompany)' data-placeholder='Search NASDAQ' ng-require='true' style='width: 200px;'>
	</form>

	<div style='border: 1px solid tomato;'>
		<select ng-model='newCompany' style='width: 200px;'>
			<option value=""></option>
			<option ng-repeat='company in companyList' ng-model='company.name'>{{ company.name }}</option>
		</select>
	</div>

	My Stocks
	<ul>
		<li ng-repeat='stock in stocks'>
			{{ stock.id }}<strong>{{ stock.symbol }}</strong> {{ stock.name }}
			<a href="" ng-click='deleteStock(stock.id, $index)'>DELETE</a>
		</li>
	</ul>
</div>
