<!DOCTYPE html>
<html>
  <head>
    <title>TickerTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app='tickerTest'>
  <!-- <div class='all'>
    <nav class='navbar navbar-default' role='navigation'>
      <nav class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href="/">TickerTracker</a>
        </div>
      </nav>
    </nav>
  </div> -->
    <md-toolbar class='md-hue-2' style='background-color: tomato;'>
      <div class='md-toolbar-tools'>
        <h2>TickerTracker</h2>
        <span flex></span>
        <md-button>Test</md-button>
      </div>
    </md-toolbar>
    <%= yield %>
  </body>
</html>
